/* 设置字体 */
.theme-light,
.theme-dark {
  --font-text: "LXGW WenKai Mono", "JetBrains Mono NL Nerd Font", sans-serif;
  --font-monospace: "JetBrains Mono NL Nerd Font Mono";
  --font-ui: "LXGW WenKai Mono", sans-serif;
}

/* 修改编辑区域宽度 */
.markdown-source-view.mod-cm6.is-live-preview,
.markdown-preview-view {
  --file-line-width: 60rem;
  max-width: var(--file-line-width);
  margin: 0 auto;
}

/* 编辑区文字大小 */
.markdown-source-view,
.markdown-preview-view {
  font-size: 16px;
  line-height: 1.6;
}

/* 代码块字体 */
.cm-s-obsidian .cm-inline-code,
.markdown-preview-view code {
  font-family: var(--font-monospace);
  font-size: 0.95em;
}